<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Products.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62F674571C667C4B00D13B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F674701C667C4C00D13B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F6747B1C667C4C00D13B50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
